# Environments
.venv
venv/

# Caches
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/*

# Data
data/*
# !data/*/ # used once to stage folders with .gitkeepfolder in it but commented out to not scan these for changes any further
# Behalte die leeren Unterordner, indem eine Dummy-Datei enthalten bleibt
!data/*/.gitkeepfolder

*.xlsx
*.csv